body {
    background: #71FA8A;
    /*background-image: url('https://media0.giphy.com/media/s1iF2QudmlgXIWMQf4/200w.gif?cid=6c09b95208nium19xnekga7excaoyk3gu4smnb7y4bv88oxh&ep=v1_gifs_search&rid=200w.gif&ct=g');
    */margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    margin-left: 10%;
    margin-top: 3%;
}

h1{
    color: #011a2a;
    width: 60%;
    
}

#italic{
    text-decoration:dotted
}

.center{
    text-align: center;
    color: rgb(117, 9, 9);
}

#para1{
    color: black;
}

.projects{ 
    display:flex; 
    flex-wrap:wrap;
}

.project{
    width: 50%;
    margin: 10px;
    padding: 40px 30px;
    background: #4bd68c;
    border-radius: 25%;
    text-align: center;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #4bd68c;
    display: block;
    margin: auto;
}

.project iframe{
    width: 420px;
    height: 315px;
    border: 5px solid rgb(218, 12, 53);
    border-radius: 5%;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}
.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
.about img {
    width: 170px;
    height: 200px;
    border-radius: 10%;
    border: 5px solid #4bd68c;
}