body {
    background: #71FA8A;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    margin-left: 10%;
    margin-top: 3%;
}

h1{
    color: #011a2a;
    width: 60%;
}

#italic{
    text-decoration:dotted
}

.center{
    text-align: center;
    color: rgb(117, 9, 9);
}

#para1{
    color: black;
}

.projects{ 
    display:flex; 
    flex-wrap:wrap;
}

.project{
    width: 75%;
    margin: 10px;
    padding: 40px 30px;
    background: #4bd68c;
    border-radius: 25%;
    text-align: center;
}

.project img{
    max-width: 300px;
    max-height: 300px;
    flex: 33.3%;
    margin: 10px;
    border: 2px solid #4bd68c;
    display: block;
    margin: auto;
}

.project iframe{
    max-width: 1000px;
    max-height: 1000px;
    border: 5px solid rgb(218, 12, 53);
    border-radius: 5%;
}

.project hr{
    height: 1px;
    background-color: #063d4a;
    color:#063d4a;
    margin: 5%;
}

.about{
    display: flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.about img {
    max-width: 170px;
    max-height: 200px;
    border-radius: 10%;
    border: 5px solid #4bd68c;
}

a:hover{
    text-transform: uppercase;
    color: rgb(166, 27, 221);
}

img:hover{
    border-color: #063d4a;
    background-color: #063d4a;
    border-radius: 5%;
    border-width: 8px;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.3%;
    padding: 10px;
}